.container {
    display: flex;
    flex-direction: column;
    height:90vh;
}

.createContainer {
    display: flex;
    flex-direction: row;
    margin-top:30px;
    margin-left:20px;
}

.createItem {
    flex: 2 1 auto;
}
.searchItem {
    flex: 1 1 auto;
}