.noteGridContainer {
    display: flex;
    flex-direction: row;
    height:100%;
    margin-top:50px;
}

.noteColumn {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.noteColumn:nth-child(odd)
{
    background-color: #DED3ED;
}
.noteColumn:nth-child(even)
{
    background-color: #DBCEED;
}